/*comment dans css*/

body {
  font-family: Montserrat;
  background: whitesmoke;
}

h1 {
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  line-height: 30px;
  margin: 30px auto 25px auto;
}

ul {
  margin: 10px 10px;
  padding: 0;
}

li {
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  height: 20px;
  line-height: 1;
  list-style: none;
  text-transform: capitalize;
  margin: 20px auto;
}
.date {
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  height: 20px;
  line-height: 1;
  text-transform: capitalize;
  margin: 20px auto;
}

.weather-app {
  border: 1px solid whitesmoke;
  padding: 18px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 800px;
  margin-bottom: 0px;
  background: linear-gradient(to top, #2bcece 15%, #200a53 100%);
  text-align: center;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: white;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

a {
  color: #2bcece;
}

.units {
  color: whitesmoke;
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}

.weekdays-forecast {
  border: 3px solid whitesmoke;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  margin: 0px auto;
  border-radius: 10px;
  background: #3ec0c7;
}
.weekdays-forecast-date {
  opacity: 1;
  font-weight: bolder;
  font-size: 16px;
  color: black;
}
.weekdays-forecast-temp-max {
  opacity: 1;
  font-size: 14px;
}
.weekdays-forecast-temp-min {
  opacity: 0.3;
  font-size: 14px;
}

.bottom {
  max-width: 800px;
  display: block;
  margin: 5px auto;
  margin-top: 10px 40px;
  font-size: 15px;
}
.active {
  color: white;
  cursor: grabbing;
}

.active:hover {
  color: white;
  text-decoration: none;
}
footer {
  text-align: center;
}
