body {
  font-size: 18px;
  font-family: Montserrat;
}

.container {
  text-align: center;
  max-width: 700px;
  margin-top: 20px;
}
.location-bar {
  margin-top: 0px;
  max-width: 700px;
}
.weather-app {
  border: 1px solid #eae3e3;
  padding: 30px 30px 0px 30px;
  margin: 30px auto 10px auto;
  border-radius: 10px;
  background-image: url("../img/nuagessoleil.jpeg");
}
h1 {
  text-align: center;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 40px;
  margin: 0px;
  color: black;
}
.today-date-time {
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 55px;
  text-align: center;
}
h3 {
  color: black;
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
  margin-top: 0px;
}
ul {
  list-style: none;
}
h4 {
  text-align: center;
  font-size: 18px;
}
.today-weather-icon {
  text-align: center;
  font-size: 60px;
}
.today-temperature-info {
  font-size: 20px;
  font-weight: 800;
}
.today-weather-info {
  font-size: 20px;
  font-weight: 500;
}
.report {
  color: black;
  font-weight: 500;
  font-size: 10px;
  margin-right: 10px;
  margin-top: 45px;
}
.temp {
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.weekdays {
  border: 1px solid #eae3e3;
  padding: 10px;
  margin: 0px auto;
  border-radius: 10px;
  background-color: #f6f7fb;
}
.bottom {
  font-size: 10px;
}
